// General workspace notes:
// This is mostly here so that gopls/vscode will quit yelling at me. The modules
// seem to work just fine without it. The replace's are duplicated everywhere
// because `go mod tidy` & co seem to ignore the ones at the workspace level.
// See: https://github.com/golang/go/issues/50750.

go 1.20

use (
	.
	./examples
	./log/log15
	./log/logrus
	./log/slog
	./log/zap
)

replace (
	golang.ngrok.com/ngrok v0.0.0 => ./
	golang.ngrok.com/ngrok/log/log15adapter v0.0.0 => ./log/log15adapter
	golang.ngrok.com/ngrok/log/pgxadapter v0.0.0 => ./log/pgxadapter
)
